@page "/baocaochitietnhaphangreportviewer/{currentDateFrom}/{currentDateTo}"
@inject iPhieuNhapKhoService PhieuNhapKhoService
@inject iChiTietPhieuNhapKhoService ChiTietPhieuNhapKhoService
@inject iNhaCungCapService NhaCungCapService
@inject iSanPhamService SanPhamService
@inject IJSRuntime js
@inject ShowErrorMessage SweetAlert
@inject NavigationManager nav
@rendermode @(new InteractiveServerRenderMode(prerender:false))
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report - Hàng Nhập</title>
    <style>
        body {
            font-family: 'Nunito', sans-serif; /* Consider using a modern font */
            background-color: #f8f9fa; /* A light background color for contrast */
        }

        .table {
            background-color: #ffffff; /* Ensure table background is white for readability */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
        }

        th {
            background-color: #007bff; /* Or another color of your choice */
            color: #000; /* Black text color */
            text-align: center; /* Center-align the header text */
        }


        .table-responsive {
            border-radius: .25rem; /* Rounded corners for the table container */
        }

        /* Custom styles for the table to make it more modern */
        .table-hover tbody tr:hover {
            background-color: #f2f2f2; /* Lighter shade on row hover for interactivity */
        }

        .search-container {
            padding: 1rem;
            background-color: #ffffff; /* White background for search area */
            border: 1px solid #ddd; /* Slight border for definition */
            border-radius: .25rem; /* Matching rounded corners */
            margin-bottom: 20px; /* Spacing below the search container */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Subtle shadow for depth */
        }

    </style>
</head>
<body>
    @if (phieuNhapDisplayList.Count == 0)
    {
        <h2 style="text-align: center;"><strong>Không Tìm Thấy Báo Cáo Chi Tiết Nhập Hàng Từ @DateFrom.ToString("dd/MM/yyyy") Đến @DateTo.ToString("dd/MM/yyyy")</strong></h2>
        <hr />
    }
    else
    {
        <div class="result-container">
            <h2 style="text-align: center;"><strong>Báo Cáo Chi Tiết Nhập Hàng Từ @DateFrom.ToString("dd/MM/yyyy") Đến @DateTo.ToString("dd/MM/yyyy")</strong></h2>
            <hr />
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Ngày Nhập</th>
                            <th>Số Phiếu Nhập</th>
                            <th>Nhà Cung Cấp</th>
                            <th>Mã Sản Phẩm</th>
                            <th>Tên Sản Phẩm</th>
                            <th>SL Nhập</th>
                            <th>Đơn Giá</th>
                            <th>Trị Giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in phieuNhapDisplayList)
                        {
                            bool isFirstDetail = true;
                            foreach (var chitiet in item.ChiTiets)
                            {
                                var total = chitiet.Don_Gia_Nhap * chitiet.SL_Nhap;
                                <tr>
                                    @if (isFirstDetail)
                                    {
                                        <td rowspan="@item.ChiTiets.Count" style="text-align: center;">@item.PhieuNhap.Ngay_Nhap_Kho.ToShortDateString()</td>
                                        <td rowspan="@item.ChiTiets.Count" style="text-align: center;">@item.PhieuNhap.So_Phieu_Nhap_Kho</td>
                                        <td rowspan="@item.ChiTiets.Count" style="text-align: center;">@GetTenNhaCC(@item.PhieuNhap.NCC_ID.ToString())</td>
                                        isFirstDetail = false;
                                    }
                                    <td style="text-align: center;">@(sanPhamMap.TryGetValue(chitiet.San_Pham_ID, out var sanPham) ? sanPham.Ma_San_Pham : "N/A")</td>
                                    <td style="text-align: center;">@(sanPham?.Ten_San_Pham ?? "N/A")</td>
                                    <td style="text-align: center;">@chitiet.SL_Nhap</td>
                                    <td style="text-align: center;">@chitiet.Don_Gia_Nhap.ToString("N2")</td>
                                    <td style="text-align: center;">@total.ToString("0.00")</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

</body>
</html>

@code {
    [Parameter]
    public DateTime DateFrom { get; set; }

    [Parameter]
    public DateTime DateTo { get; set; }
    private Dictionary<string, SanPhamModel> sanPhamMap = new Dictionary<string, SanPhamModel>();
    public List<NhaCungCapModel> danhSachNCC { get; set; } = new List<NhaCungCapModel>();
    public string ErrorMessage { get; set; }
    private List<PhieuNhapKhoDisplayModel> phieuNhapDisplayList = new();
    protected override async Task OnParametersSetAsync()
    {
        danhSachNCC = await NhaCungCapService.GetAllNhaCungCapAsync();
        phieuNhapDisplayList = new();
        await LoadDataAsync();
    }

    private async Task LoadDataAsync()
    {
        try
        {
            var sanPhams = await SanPhamService.GetAllSanPhamAsync();
            sanPhamMap = sanPhams.ToDictionary(sp => sp.Ma_San_Pham);

            var phieuNhaps = await PhieuNhapKhoService.GetByDateAsync(DateFrom, DateTo);
            if (phieuNhaps.Count() > 0)
            foreach (var phieuNhap in phieuNhaps)
            {                var chiTiets = await ChiTietPhieuNhapKhoService.GetAllChiTietByKhoIDAsync(phieuNhap.So_Phieu_Nhap_Kho);
                phieuNhapDisplayList.Add(new PhieuNhapKhoDisplayModel
                    {
                        PhieuNhap = phieuNhap,
                        ChiTiets = chiTiets
                    });
            }
        }
        catch (Exception e)
        {
            ErrorMessage = $"Error preparing data: {e.Message}";
            await SweetAlert.ShowMessage("Error", ErrorMessage, "error");
        }
    }
    string GetTenNhaCC(string NCC_ID)
    {
        var loaiSanPham = danhSachNCC.FirstOrDefault(l => l.Ma_NCC.Equals(NCC_ID));
        return loaiSanPham?.Ten_NCC ?? "N/A";
    }

    public class PhieuNhapKhoDisplayModel
    {
        public PhieuNhapKhoModel PhieuNhap { get; set; }
        public List<ChiTietPhieuNhapKho> ChiTiets { get; set; }
        public decimal TongTriGia => ChiTiets?.Sum(ct => ct.SL_Nhap * ct.Don_Gia_Nhap) ?? 0;
    }

}


