@page "/edit-chitietphieunhapkho/{Nhap_Kho_ID}"
@page "/edit-chitietphieunhapkho/{Nhap_Kho_ID}/{San_Pham_ID}"

@inject iChiTietPhieuNhapKhoService ChiTietPhieuNhapKhoService
@inject iPhieuNhapKhoService PhieuNhapKhoService
@inject iSanPhamService SanPhamSevice
@inject NavigationManager nav
@rendermode @(new InteractiveServerRenderMode(prerender:false))

@if (San_Pham_ID is null)
{
    <PageTitle>THÊM CHI TIẾT PHIẾU NHẬP KHO</PageTitle>
    <h3>THÊM CHI TIẾT PHIẾU NHẬP KHO</h3>
    @if (!string.IsNullOrWhiteSpace(ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ErrorMessage
        </div>
    }

    <EditForm Model="CurrentCTPNK" OnSubmit="HandleSubmit">
        @* <div>
            <label for="Nhap_Kho_ID">Số Phiếu Nhập</label>
            <InputText id="Nhap_Kho_ID" @bind-Value="CurrentCTPNK.Nhap_Kho_ID" class="form-control"></InputText>
        </div> *@
        @* <div>
            <label for="San_Pham_ID">Sản Phẩm</label>
            <InputText id="San_Pham_ID" @bind-Value="CurrentCTPNK.San_Pham_ID" class="form-control"></InputText>
        </div> *@
        <div>
            <label for="San_Pham_ID">Số Phiếu Nhập</label>
            <InputSelect class="form-control" id="San_Pham_ID" @bind-Value="CurrentCTPNK.San_Pham_ID">
                <option value="" disabled selected>Chọn sản phẩm nhập kho</option>
                @foreach (var sanpham in sanPhamList)
                {
                    <option value="@sanpham.Ma_San_Pham">@sanpham.Ten_San_Pham</option>
                }
            </InputSelect>
        </div>
        <div>
            <label for="SL_Nhap">Số lượng nhập</label>
            <InputNumber id="SL_Nhap" @bind-Value="CurrentCTPNK.SL_Nhap" class="form-control"></InputNumber>
        </div>
        <div>
            <label for="Don_Gia_Nhap">Đơn giá</label>
            <InputNumber id="Don_Gia_Nhap" @bind-Value="CurrentCTPNK.Don_Gia_Nhap" class="form-control"></InputNumber>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Lưu</button>
    </EditForm>
}
else
{
    <PageTitle>HIỆU CHỈNH "@CurrentCTPNK.Nhap_Kho_ID - @CurrentCTPNK.San_Pham_ID"</PageTitle>
    <h1>HIỆU CHỈNH "@CurrentCTPNK.Nhap_Kho_ID - @CurrentCTPNK.San_Pham_ID"</h1>
    @if (!string.IsNullOrWhiteSpace(ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ErrorMessage
        </div>
    }
    <hr />
    <div class="d-flex justify-content-start info-section mb-4">
        <!-- Thông tin Phiếu Nhập Kho -->
        <div class="card mr-2" style="flex: 1;">
            <div class="card-header">
                <h5>Thông tin Phiếu Nhập Kho</h5>
            </div>
            <div class="card-body">
                @foreach (PhieuNhapKhoModel phieu in phieuNhapKhoList)
                {
                    if (phieu.So_Phieu_Nhap_Kho.Equals(CurrentCTPNK.Nhap_Kho_ID))
                    {
                        <p class="card-text"><strong>Số phiếu nhập kho:</strong> @phieu.So_Phieu_Nhap_Kho</p>
                        <p class="card-text"><strong>ID Kho:</strong> @phieu.Kho_ID</p>
                        <p class="card-text"><strong>ID Nhà cung cấp:</strong> @phieu.NCC_ID</p>
                        <p class="card-text"><strong>Ngày nhập kho:</strong> @phieu.Ngay_Nhap_Kho.ToShortDateString()</p>
                        <p class="card-text"><strong>Ghi chú:</strong> @phieu.Ghi_Chu</p>
                    }
                }
            </div>
        </div>

        <!-- Thông tin Sản Phẩm -->
        <div class="card" style="flex: 2;">
            <div class="card-header">
                <h5>Thông tin Sản Phẩm</h5>
            </div>
            <div class="card-body">
                @foreach (SanPhamModel sanpham in sanPhamList)
                {
                    if (sanpham.Ma_San_Pham.Equals(CurrentCTPNK.San_Pham_ID))
                    {
                        <p class="card-text"><strong>Mã sản phẩm:</strong> @sanpham.Ma_San_Pham</p>
                        <p class="card-text"><strong>Tên sản phẩm:</strong> @sanpham.Ten_San_Pham</p>
                        <p class="card-text"><strong>Mã loại sản phẩm:</strong> @sanpham.Loai_San_Pham_ID</p>
                        <p class="card-text"><strong>Đơn vị tính:</strong> @sanpham.Don_Vi_Tinh_ID</p>
                        <p class="card-text"><strong>Ghi chú:</strong> @sanpham.Ghi_Chu</p>
                    }
                }
            </div>
        </div>
    </div>

<hr />

    <EditForm Model="CurrentCTPNK" OnSubmit="HandleSubmit">
        @* <div>
            <label for="Nhap_Kho_ID">Tên Đơn vị tính</label>
            <InputText id="Nhap_Kho_ID" @bind-Value="CurrentCTPNK.Nhap_Kho_ID" class="form-control"></InputText>
        </div>
        <div>
            <label for="San_Pham_ID">Tên Đơn vị tính</label>
            <InputText id="San_Pham_ID" @bind-Value="CurrentCTPNK.San_Pham_ID" class="form-control"></InputText>
        </div> *@
        
        <div>
            <label for="SL_Nhap">Số Lượng Nhập</label>
            <InputNumber id="SL_Nhap" @bind-Value="CurrentCTPNK.SL_Nhap" class="form-control"></InputNumber>
        </div>
        <div>
            <label for="Don_Gia_Nhap">Đơn giá</label>
            <InputNumber id="Don_Gia_Nhap" @bind-Value="CurrentCTPNK.Don_Gia_Nhap" class="form-control"></InputNumber>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Lưu</button>
    </EditForm>
}

@code {
    [Parameter]
    public string Nhap_Kho_ID { get; set; }

    [Parameter]
    public string San_Pham_ID { get; set; }

    public string ErrorMessage { get; set; }
    public ChiTietPhieuNhapKho CurrentCTPNK { get; set; } = new();
    List<PhieuNhapKhoModel> phieuNhapKhoList = new List<PhieuNhapKhoModel>();
    List<SanPhamModel> sanPhamList = new List<SanPhamModel>();

    protected override async Task OnParametersSetAsync()
    {
        var ctPNK = await ChiTietPhieuNhapKhoService.GetByIdAsync(Nhap_Kho_ID, San_Pham_ID);
        if (ctPNK is not null)
        {
            CurrentCTPNK = ctPNK;
        }
        else
        {
            CurrentCTPNK.Nhap_Kho_ID = Nhap_Kho_ID;
        }
    }
    protected override async Task OnInitializedAsync()
    {
        phieuNhapKhoList = await PhieuNhapKhoService.GetAlPhieuNhapKhoAsync();
        sanPhamList = await SanPhamSevice.GetAllSanPhamAsync();
    }

    async Task HandleSubmit()
    {
        var existingUnitCode = await ChiTietPhieuNhapKhoService.GetByIdAsync(CurrentCTPNK.Nhap_Kho_ID, CurrentCTPNK.San_Pham_ID);
        if (existingUnitCode != null && San_Pham_ID is null)
        {
            ErrorMessage = "Phiếu nhập của sản phẩm đã tồn tại.";
            return;
        }
        if (string.IsNullOrWhiteSpace(CurrentCTPNK.San_Pham_ID))
        {
            ErrorMessage = "Mã sản phẩm không được để trống.";
            return;
        }
        if (CurrentCTPNK.SL_Nhap <= 0)
        {
            ErrorMessage = "Số lượng phải lớn hơn 0.";
            return;
        }
        if (CurrentCTPNK.Don_Gia_Nhap <= 0)
        {
            ErrorMessage = "Đơn giá phải lớn hơn 0.";
            return;
        }

        if (Nhap_Kho_ID is not null && San_Pham_ID is not null)
        {
            await ChiTietPhieuNhapKhoService.UpdateChiTietPhieuNhapAsync(CurrentCTPNK, Nhap_Kho_ID, San_Pham_ID);
            nav.NavigateTo($"/chitietphieunhapkho-list/{CurrentCTPNK.Nhap_Kho_ID}");
        }
        else
        {
            await ChiTietPhieuNhapKhoService.AddChiTietPhieuNhap(CurrentCTPNK);            
            nav.NavigateTo($"/chitietphieunhapkho-list/{CurrentCTPNK.Nhap_Kho_ID}");
        }
    }
}
