@page "/edit-chitietphieunhapkho/{Nhap_Kho_ID}"
@page "/edit-chitietphieunhapkho/{Nhap_Kho_ID}/{Id}"

@inject iChiTietPhieuNhapKhoService ChiTietPhieuNhapKhoService
@inject iPhieuNhapKhoService PhieuNhapKhoService
@inject iSanPhamService SanPhamSevice
@inject NavigationManager nav
@inject IJSRuntime js
@inject ShowErrorMessage SweetAlert
@rendermode @(new InteractiveServerRenderMode(prerender:false))

@if (Id is null)
{
    <PageTitle>THÊM CHI TIẾT PHIẾU NHẬP KHO</PageTitle>
    <h1 style="text-align: center;"><strong>THÊM CHI TIẾT PHIẾU NHẬP KHO</strong></h1>
    <hr />
    @if (!string.IsNullOrWhiteSpace(ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ErrorMessage
        </div>
    }
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-6">
                <div class="card">
                    <div class="card-header"><strong>THÔNG TIN CHI TIẾT PHIẾU NHẬP KHO</strong></div>
                    <div class="card-body">
                        <EditForm Model="CurrentCTPNK" OnSubmit="HandleSubmit">
                            <div>
                                <label for="San_Pham_ID">Số Phiếu Nhập</label>
                                <InputSelect class="form-control" id="San_Pham_ID" @bind-Value="CurrentCTPNK.San_Pham_ID">
                                    <option value="" disabled selected>Chọn sản phẩm nhập kho</option>
                                    @foreach (var sanpham in sanPhamList)
                                    {
                                        <option value="@sanpham.Id">@sanpham.Ten_San_Pham</option>
                                    }
                                </InputSelect>
                            </div>
                            <div>
                                <label for="SL_Nhap">Số lượng nhập</label>
                                <InputNumber id="SL_Nhap" @bind-Value="CurrentCTPNK.SL_Nhap" class="form-control"></InputNumber>
                            </div>
                            <div>
                                <label for="Don_Gia_Nhap">Đơn giá</label>
                                <InputNumber id="Don_Gia_Nhap" @bind-Value="CurrentCTPNK.Don_Gia_Nhap" class="form-control"></InputNumber>
                            </div>
                        </EditForm>
                    </div>
                    <div class="card-footer">
                        <div class="hstack gap-3 float-end">
                            <form method="dialog">
                                <button class="btn btn-danger" @onclick="OnClose">Close</button>
                            </form>
                            <button class="btn btn-success" @onclick="HandleSubmit" type="submit">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
}
else
{
    <PageTitle>HIỆU CHỈNH "@CurrentCTPNK.Nhap_Kho_ID - @CurrentCTPNK.San_Pham_ID"</PageTitle>
    <div class="container">
        <h4 style="text-align: center;"><strong>HIỆU CHỈNH "@CurrentCTPNK.Nhap_Kho_ID - @CurrentCTPNK.San_Pham_ID"</strong></h4>
        <hr />
        <!-- Information Section -->
        <div class="row">
            <!-- Left Column: Thông tin Phiếu Nhập Kho and Thông tin Sản Phẩm -->
            <div class="col-lg-6 mb-4">
                <!-- Thông tin Phiếu Nhập Kho -->
                <div class="card mb-3">
                    <div class="card-header" style="background-color: #e9ecef; color: #333;">
                        <strong>THÔNG TIN PHIẾU NHẬP KHO</strong>
                    </div>
                    <div class="card-body">
                        @foreach (var phieu in phieuNhapKhoList)
                        {
                            if (phieu.So_Phieu_Nhap_Kho.Equals(CurrentCTPNK.Nhap_Kho_ID))
                            {
                                <p class="card-text"><strong>Số phiếu nhập kho:</strong> @phieu.So_Phieu_Nhap_Kho</p>
                                <p class="card-text"><strong>ID Kho:</strong> @phieu.Kho_ID</p>
                                <p class="card-text"><strong>ID Nhà cung cấp:</strong> @phieu.NCC_ID</p>
                                <p class="card-text"><strong>Ngày nhập kho:</strong> @phieu.Ngay_Nhap_Kho.ToShortDateString()</p>
                                <p class="card-text"><strong>Ghi chú:</strong> @phieu.Ghi_Chu</p>
                            }
                        }
                    </div>
                </div>
                <!-- Thông tin Sản Phẩm -->
                <div class="card">
                    <div class="card-header" style="background-color: #e9ecef; color: #333;">
                        <strong>THÔNG TIN SẢN PHẨM</strong>
                    </div>
                    <div class="card-body">
                        @foreach (var sanpham in sanPhamList)
                        {
                            if (sanpham.Id == CurrentCTPNK.San_Pham_ID)
                            {
                                <p class="card-text"><strong>Mã sản phẩm:</strong> @sanpham.Ma_San_Pham</p>
                                <p class="card-text"><strong>Tên sản phẩm:</strong> @sanpham.Ten_San_Pham</p>
                                <p class="card-text"><strong>Mã loại sản phẩm:</strong> @sanpham.Loai_San_Pham_ID</p>
                                <p class="card-text"><strong>Đơn vị tính:</strong> @sanpham.Don_Vi_Tinh_ID</p>
                                <p class="card-text"><strong>Ghi chú:</strong> @sanpham.Ghi_Chu</p>
                            }
                        }
                    </div>
                </div>
            </div>
            <!-- Right Column: Form to enter details -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header"><strong>NHẬP THÔNG TIN CHỈNH SỬA</strong></div>
                    <div class="card-body">
                        <EditForm Model="CurrentCTPNK" OnSubmit="HandleSubmit">                       
                            <div class="mb-3">
                                <label for="SL_Nhap" class="form-label">Số lượng nhập</label>
                                <InputNumber id="SL_Nhap" @bind-Value="CurrentCTPNK.SL_Nhap" class="form-control"></InputNumber>
                            </div>
                            <div class="mb-3">
                                <label for="Don_Gia_Nhap" class="form-label">Đơn giá nhập</label>
                                <InputNumber id="Don_Gia_Nhap" @bind-Value="CurrentCTPNK.Don_Gia_Nhap" class="form-control"></InputNumber>
                            </div>
                        </EditForm>
                    </div>
                    <div class="card-footer text-end">
                        <button class="btn btn-danger" @onclick="OnClose">Close</button>
                        <button class="btn btn-success" @onclick="HandleSubmit" type="submit">Lưu</button>
                    </div>
                </div>
                <br />
                @if (!string.IsNullOrWhiteSpace(ErrorMessage))
                {
                    <div class="alert alert-danger" role="alert">
                        @ErrorMessage
                    </div>
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string Nhap_Kho_ID { get; set; }

    [Parameter]
    public string Id { get; set; }

    public string ErrorMessage { get; set; }
    public ChiTietPhieuNhapKho CurrentCTPNK { get; set; } = new();
    List<PhieuNhapKhoModel> phieuNhapKhoList = new List<PhieuNhapKhoModel>();
    List<SanPhamModel> sanPhamList = new List<SanPhamModel>();

    protected override async Task OnParametersSetAsync()
    {
        var ctPNK = await ChiTietPhieuNhapKhoService.GetByIdAsync(Convert.ToInt32(Id));
        if (ctPNK is not null)
        {
            CurrentCTPNK = ctPNK;
        }
        else
        {
            CurrentCTPNK.Nhap_Kho_ID = Nhap_Kho_ID;
        }
    }
    protected override async Task OnInitializedAsync()
    {
        phieuNhapKhoList = await PhieuNhapKhoService.GetAlPhieuNhapKhoAsync();
        sanPhamList = await SanPhamSevice.GetAllSanPhamAsync();
    }

    async Task HandleSubmit()
    {
        if (string.IsNullOrWhiteSpace(CurrentCTPNK.San_Pham_ID.ToString()))
        {
            ErrorMessage = "Mã sản phẩm không được để trống.";
            return;
        }
        if (CurrentCTPNK.SL_Nhap <= 0)
        {
            ErrorMessage = "Số lượng phải lớn hơn 0.";
            return;
        }
        if (CurrentCTPNK.Don_Gia_Nhap <= 0)
        {
            ErrorMessage = "Đơn giá phải lớn hơn 0.";
            return;
        }

        if (Nhap_Kho_ID is not null && Id is not null)
        {
            try
            {
                await ChiTietPhieuNhapKhoService.UpdateChiTietPhieuNhapAsync(CurrentCTPNK, Convert.ToInt32(Id));
                await SweetAlert.ShowToast("Sửa thành công", "Success", 1000);
                nav.NavigateTo($"/chitietphieunhapkho-list/{CurrentCTPNK.Nhap_Kho_ID}");
            }
            catch (Exception e)
            {
                await SweetAlert.ShowMessage("Error", e.ToString(), "Error");
            }            
        }
        else
        {
            try
            {
                await ChiTietPhieuNhapKhoService.AddChiTietPhieuNhap(CurrentCTPNK);
                await SweetAlert.ShowToast("Thêm thành công", "Success", 1000);
                nav.NavigateTo($"/chitietphieunhapkho-list/{CurrentCTPNK.Nhap_Kho_ID}");                
            }
            catch (Exception e)
            {
                await SweetAlert.ShowMessage("Error", e.ToString(), "Error");
            }
        }
    }
    private void OnClose(EventArgs e)
    {
        nav.NavigateTo($"/chitietphieunhapkho-list/{CurrentCTPNK.Nhap_Kho_ID}");
    }
    public void ClearPhieuContainer()
    {
        CurrentCTPNK = new();
    }
}
