 @page "/hieuchinhphieunhapkho-list"
@inject iPhieuNhapKhoService PhieuNhapKhoService

@inject NavigationManager nav
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<PageTitle>PHIẾU NHẬP KHO</PageTitle>
<h1>PHIẾU NHẬP KHO</h1>
<hr />
<button class="btn btn-primary" @onclick="AddPhieuNhapKho">Thêm phiếu nhập kho</button>
@if (phieuNhapKhoList.Count == 0)
{
    <hr />
    <p>Chưa tìm thấy loại phiếu nhập kho nào! Vui lòng thêm phiếu nhập kho!</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Mã Phiếu Nhập Kho
                </th>
                <th>
                    Mã kho
                </th>
                <th>
                    Nhà cung cấp
                </th>
                <th>
                    Ngày nhập
                </th>
                <th>
                    Ghi chú
                </th>
                <th>

                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var phieu in phieuNhapKhoList)
            {
                <tr>
                    <td>
                        @phieu.So_Phieu_Nhap_Kho
                    </td>
                    <td>
                        @phieu.Kho_ID
                    </td>
                    <td>
                        @phieu.NCC_ID
                    </td>
                    <td>
                        @phieu.Ngay_Nhap_Kho

                    </td>
                    <td>
                        @phieu.Ghi_Chu
                    </td>
                    <td>
                        <button class="btn btn-danger" @onclick="@(()=>DeleteSanPham(phieu.So_Phieu_Nhap_Kho))">Xóa</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>


}

@code {
    List<PhieuNhapKhoModel> phieuNhapKhoList = new List<PhieuNhapKhoModel>();

    protected override async Task OnInitializedAsync()
    {
        phieuNhapKhoList = await PhieuNhapKhoService.GetAlPhieuNhapKhoAsync();
    }
    void AddPhieuNhapKho()
    {
        nav.NavigateTo($"/edit-phieunhapkho");
    }
    async Task DeleteSanPham(string maphieu)
    {
        await PhieuNhapKhoService.DeletePhieuNhapKhoAsync(maphieu);
        phieuNhapKhoList = await PhieuNhapKhoService.GetAlPhieuNhapKhoAsync();
    }
}