 @page "/phieunhapkho-list"
@inject iPhieuNhapKhoService PhieuNhapKhoService
@inject iHieuChinhPhieuNhapKhoService HieuChinhPhieuNhapKhoService
@inject IJSRuntime js
@inject NavigationManager nav
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<PageTitle>PHIẾU NHẬP KHO</PageTitle>
<h1>PHIẾU NHẬP KHO</h1>
<hr />
<button class="btn btn-primary" @onclick="AddPhieuNhapKho">Thêm phiếu nhập kho</button>
@if (phieuNhapKhoList.Count == 0)
{
    <hr />
    <p>Chưa tìm thấy loại phiếu nhập kho nào! Vui lòng thêm phiếu nhập kho!</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Mã Phiếu Nhập Kho
                </th>
                <th>
                    Mã kho
                </th>
                <th>
                    Nhà cung cấp 
                </th>
                <th>
                    Ngày nhập
                </th>
                <th>
                    Ghi chú
                </th>
                <th>

                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var phieu in phieuNhapKhoList)
            {
                <tr>
                    <td>
                        @phieu.So_Phieu_Nhap_Kho
                    </td>
                    <td>
                        @phieu.Kho_ID
                    </td>
                    <td>
                        @phieu.NCC_ID
                    </td>
                    <td>
                        @phieu.Ngay_Nhap_Kho

                    </td>
                    <td>
                        @phieu.Ghi_Chu
                    </td>
                    <td>
                        <button class="btn btn-outline-info" @onclick="@(()=>HieuChinh(phieu.So_Phieu_Nhap_Kho))">Hiệu chỉnh</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" @onclick="@(()=>DeletePhieuNhapKho(phieu.So_Phieu_Nhap_Kho))">Xóa</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" @onclick="ShowForecast">Show</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" @onclick="Print">Print</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (!string.IsNullOrWhiteSpace(ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ErrorMessage
        </div>
    }
    <hr />
    <div class="row">
        <div class="col-12">
            <div id="PrintDiv" style="border:1px solid black; min-height:400px">
                @if (html != null)
                {
                    @html
                }
            </div>
        </div>
    </div>
    <hr />
}

@code {
    public RenderFragment html;

    List<PhieuNhapKhoModel> phieuNhapKhoList = new List<PhieuNhapKhoModel>();
    public string ErrorMessage { get; set; }
    protected override async Task OnInitializedAsync()
    {
        phieuNhapKhoList = await PhieuNhapKhoService.GetAlPhieuNhapKhoAsync();
    }
    void AddPhieuNhapKho()
    {
        nav.NavigateTo($"/edit-phieunhapkho");
    }
    async Task DeletePhieuNhapKho(string maphieu)
    {
        var hieuchinhPhieuNhapKho = await HieuChinhPhieuNhapKhoService.GetByIdAsync(maphieu);
        if(hieuchinhPhieuNhapKho is null)
        {
            await PhieuNhapKhoService.DeletePhieuNhapKhoAsync(maphieu);
            phieuNhapKhoList = await PhieuNhapKhoService.GetAlPhieuNhapKhoAsync();
        }
        else
        {
            ErrorMessage = "Không thể xóa phiếu nhập!";
            return;
        }

    }
    async Task HieuChinh(string So_Phieu_Nhap_Kho)
    {
        nav.NavigateTo($"/edit-hieuchinhphieunhapkho/{So_Phieu_Nhap_Kho}");
    }


    public void ShowForecast()
    {
        RenderFragment CreateDynamicComponent() => builder =>
        {
            builder.OpenComponent(0, typeof(Home));
            //builder.AddAttribute(0, "Param", "Weather Forecast Report");
            builder.CloseComponent();
        };

        html = CreateDynamicComponent();
    }

    public async Task Print()
    {
        try
        {
            await js.InvokeVoidAsync("PrintReport");
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }


}
<script type="text/javascript">
    function PrintReport() {
        var divcontent = document.getElementById("PrintDiv").innerHTML;
        var a = window.open('', '', 'height=600,width=600');
        a.document.write('<html>');
        a.document.write('<body><br/>');
        a.document.write(divcontent);
        a.document.write('</body></html>');
        a.document.close();
        a.print();
    }
</script>